<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Prueba</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Submit</servlet-name>
    <servlet-class>com.control.cSubmit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Submit</servlet-name>
    <url-pattern>/RespuestaSubmit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>User</servlet-name>
    <servlet-class>com.control.cUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User</servlet-name>
    <url-pattern>/RespuestaUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SubmitPuntaje</servlet-name>
    <servlet-class>com.control.cPuntaje</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitPuntaje</servlet-name>
    <url-pattern>/Puntaje</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Comment</servlet-name>
    <servlet-class>com.control.cComment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Comment</servlet-name>
    <url-pattern>/Created_Comment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Company</servlet-name>
    <servlet-class>com.control.cEmpresa</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Company</servlet-name>
    <url-pattern>/RespuestaCompany</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Jobs</servlet-name>
    <servlet-class>com.control.cJobs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jobs</servlet-name>
    <url-pattern>/RepuestaJob</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteSubmit</servlet-name>
    <servlet-class>com.control.cDeleteSubmit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteSubmit</servlet-name>
    <url-pattern>/DeleteSubmit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteComment</servlet-name>
    <servlet-class>com.control.cDeleteComments</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteComment</servlet-name>
    <url-pattern>/DeleteComment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateUser</servlet-name>
    <servlet-class>com.control.cUpdateUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUser</servlet-name>
    <url-pattern>/UpdateUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateSubmit</servlet-name>
    <servlet-class>com.control.cUpdateSubmit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateSubmit</servlet-name>
    <url-pattern>/UpdateSubmit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateComment</servlet-name>
    <servlet-class>com.control.cUpdateComment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateComment</servlet-name>
    <url-pattern>/UpdateComment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateEmpresa</servlet-name>
    <servlet-class>com.control.cUpdateEmpresa</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateEmpresa</servlet-name>
    <url-pattern>/UpdateEmpresa</url-pattern>
  </servlet-mapping>
</web-app>